.product-container {
    padding: 20px 10px;
}

.product-card {
    margin-top: 20px;
}

.product-search-card {
    padding: 25px 15px;
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .product-container {
        padding: 30px 20px;
    }

    .product-search-card {
        padding: 40px 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .product-container {
        padding: 30px 150px;
    }
}
