.home-container {
    padding: 20px 10px 20px 10px;
    font-size: 36px;
    text-align: center;
    border: 1px solid red;
}

.home-card-image {
    color: #fff;
    background-color: #00285F;
    border-radius: 20px;
    border: 1px solid red;
}

.home-image-container {
    padding: 60px 30px 50px 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.home-image-container-content {
    color: #fff;
    width: 260px;
}

.home-image-container-content h1 {
    font-size: 0.61em;
    margin-top: 35px;
}

.home-image-container-content p {
    font-size: 0.38em;
    margin-top: 13px;
}

.home-image-container img {
    width: 244px;
    height: 146px;

    /* width: 100%;
    height: auto; */
}


.home-card-content {
    margin-top: 20px;
    border: 1px solid red;
}

.home-content-container {
    padding: 28px 50px 25px 50px;
    background-color: #EDEDED;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content-container p {
    width: 260px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 0.5em;
}
