.product-main-card {
    margin-bottom: 20px;
}

.product-image-content {
    display: flex;
    justify-content: center;
}

.product-image-content img {
    width: 220.72px;
    height: 165px;
}

.product-main-content {
    padding: 15px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-main-content-description {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-main-content-description h4 {
    margin-top: 10px;
    color: #000;
}

.product-main-content-description p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 38px;
    font-style: italic;
}

@media (min-width: 576px) {
    .product-main-content {
        padding: 15px 7px;
    }

    .product-main-content-description {
        width: 250px;
    }
}
